<div class="posts">
<% for (let post of htmlWebpackPlugin.options.posts) { %>
  <div class="post">
    <h4>
      <a href="<%= post.path %>"><%= post.meta.title || '' %></a>
    </h4>
    <span>date: <%= post.meta.date || '' %></span>
    <%= post.summary %>
  </div>
<% } %>
</div>