<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>Yidazh's Blog</title>
</head>

<body>
  <div class="cover">
    <div class="title">
      Yidazh's Blog
    </div>
  </div>
  <main>
    <div class="timeline">
      <% for (let post of htmlWebpackPlugin.options.posts) { %>
      <div class="time-point">
        <div class="post-date"><%= post.meta.date %></div>
        <a href="<%= post.name %>" target="_blank">
          <h4 class="post-title"><%= post.meta.title %></h4>
        </a>
        <div class="post-summary post">
          <%= post.summary %>
        </div>
      </div>
      <% } %>
    </div>
  </main>
</body>

</html>