<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title><%= htmlWebpackPlugin.options.meta.title || '' %></title>
</head>

<body>
  <header>
    <%= require('html-loader!../../templates/header.html') %>
  </header>
  <main>
    <h1><%= htmlWebpackPlugin.options.meta.title %></h1>
    <%= htmlWebpackPlugin.options.content %>
  </main>
</body>

</html>